.column {
  width: 30%;
  margin: auto;
  padding-left: 10px;
  float: left;
}
ul.font {
  font-family: Helvetica;
}
ol.bold {
  font-size: larger;
  font-family: cursive;
}
.bold {
  text-align: center;
  color: white;
  background: black;
  text-decoration: wavy;
}
.box1 {
  width:100%;
  height: auto;
  border-style: solid;
  border-color: #AEB4A9;
  margin: center;
  margin-top: 20%;
  padding: 100px;
  box-sizing: border-box;
  background: #C37D92;
}